@use "./variables" as vars;
@use "sass:color";

.enter-button {
  color: vars.$primary_color;
  font-size: 18px;
  width: 62px;
  height: 19px;
  margin-right: 20px;
  cursor: pointer;
  border: none;
  background-color: none;
}

