@use "./variables" as vars;
@use "sass:color";

.enter-button {
  color: vars.$primary_color;
  font-size: 14px;
  width: 62px;
  height: 19px;
  cursor: pointer;
  border: none;
  background-color: none;
}

