@use "../components/variables" as vars;
@use "sass:color";

.attendance-chart-container {
  padding: 1rem;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.attendance-chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  p {
    font-size: 20px;
    color: vars.$text_color;
    margin: 0;
  }

  .attendance-select {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid vars.$primary_color;
    font-size: 14px;
    background-color: white;
    color: #636161;
    cursor: pointer;
  }
}

.attendance-chart {
    width: 600px !important;
    height: 200px !important;
}

